.GLASS {
    position: absolute;
    transition: all 100ms linear;
    background-color: rgba( 255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.05);
    backdrop-filter: blur( 12.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.05);
}

.GLASS_HOVER:hover,
.HOVER:hover {
    cursor: pointer;
    transition: all 250ms linear;
    transform: scale(0.95);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.57);
}

.TEXT,
.TEXT>* {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 700;
    text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
}

.SHOW {
    display: flex !important;
}

.FULL,
.FULL>*,
.DISABLED,
.DISABLED>* {
    pointer-events: none;
    filter: saturate(100%);
}

.ACTIVE {
    background-color: rgba(46, 204, 113, 0.25) !important;
    transform: scale(0.95);
}

.XNRP_HUD_INFO {
    overflow: hidden;
    position: absolute;
    left: 5px;
    bottom: 5px;
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    align-content: center;
}

.XNRP_HEALTH,
.XNRP_HEALTHV {
    position: absolute;
    justify-content: center;
    align-items: center;
    left: -1px;
    bottom: -1px;
    bottom: 0px;
    height: 20px;
}

.XNRP_HEALTHV {
    background-color: rgba(0, 0, 0, 0.15) !important;
    text-align: center;
    width: 100%;
}

.XNRP_JOBNAME {
    position: absolute;
    right: 5px;
    top: 0px;
    height: 20px;
    width: 100%;
    text-align: right;
}

.XNRP_JOBACTIVITYNAME {
    position: absolute;
    right: 5px;
    top: 18px;
    height: 20px;
    width: 100%;
    text-align: right;
}

.XNRP_WALLETVALUE {
    position: absolute;
    right: 5px;
    top: 38px;
    height: 20px;
    width: 100%;
    text-align: right;
}

.XNRP_BANKVALUE {
    position: absolute;
    right: 5px;
    top: 55px;
    height: 20px;
    width: 100%;
    text-align: right;
}

.XNRP_AVATAR {
    border-radius: 10px 0 0 0;
    height: 78px;
    width: 78px;
}